<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>AppCitasSAS</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/5.3.2/css/bootstrap.min.css"
		th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
	<link rel="stylesheet" href="../static/css/estilo.css" th:href="@{/css/estilo.css}">
	<link rel="stylesheet" href="../static/css/menu.css" th:href="@{/css/menu.css}">
	<link rel="icon" href="../static/css/img/icono.png" th:href="@{/css/img/icono.png}">
</head>

<body>
	<nav>
		<div class="menu m-2">
            <div class="logo">
                <i class="nav-link"><img th:src="@{/css/img/icono.png}" alt="imagen logo"></i>
                <a style="color: white; margin-top: 5px;" >AppCitasSAS</a>
            </div>
			<ul class="nav-links" style="margin-top: 15px;">
                <li><a style="color: white;" th:href="@{/}">Home</a></li>				
			</ul>
		</div>
	</nav>
	<br>
    <div class="imgBackground">
        <img th:src="@{/css/img/backgroundSFondo.png}" alt="imagen fondo">
		<p class="textLogin empleado">Empleados</p>
    	<p class="textLogin cliente">Pacientes</p>
    </div>
    
	<div class="contenedor form-login">
    	<p class="titulo">Iniciar Sesion</p>
    
	    <form class="form" id="loginform" method="POST" th:action="@{/auth/login-post}" role="form">
            <div class="button-container" style="display: flex; justify-content: space-between;">
		        <label class="button-checkbox" onclick="toggleCheckbox('empleado')" style="flex-grow: 1; text-align: center; width: 326px; margin-right: 2%;">
                    <input type="checkbox" id="checkbox-empleado" value="empleado" style="display: none; width: 270;">
		            Empleado
		        </label>
		
		        <label class="button-checkbox" onclick="toggleCheckbox('paciente')" style="flex-grow: 1; text-align: center; width: 326px; margin-left: 2%;">
		            Paciente
                    <input type="checkbox" id="checkbox-paciente" value="paciente" checked style="display: none; width: 270;">
		        </label>
    		</div>

	        <input id="login-username" type="email" class="input" name="username" placeholder="email" required>
	        <input id="login-password" type="password" class="input" name="password" placeholder="contraseña" required>

		    <!-- Agrega un campo oculto para almacenar el valor seleccionado -->
		    <input type="hidden" id="user-type" name="tipo" value="">
	        
	        <button type="submit" class="button">Acceder</button>
	    </form>
        <div class="button-container button2-empleado" style="display: flex; justify-content: space-between;">
			<form class="form" th:action="@{/auth/recuperarEmpleado}" th:method="get">
				<button type="submit" class="button2">Recuperar contraseña</button>
			</form>
		</div>
	    <div class="button-container" style="display: flex; justify-content: space-between;">
		    <form class="form"  method="GET" th:action="@{/auth/registrarPaciente}" style="margin-right: 1%;">
		        <button type="submit" class="button2 button2-paciente">Registrarse</button>
		    </form>
		    <form class="form"  method="GET" th:action="@{/auth/iniciarRecuperacion}" style="margin-left: 1%;">
		        <button type="submit" class="button2 button2-paciente">Recuperar contraseña</button>
		    </form>
		</div>
	</div>

	<script th:if="${not #strings.isEmpty(mensajeRegistroExitoso)}">
	    mostrarNotificacion("¡Registro exitoso!", "Ahora puede iniciar sesión", 'success');
	</script>
	<script th:if="${not #strings.isEmpty(mensajeExitoMail)}">
	    mostrarNotificacion("¡Email enviado!", "Se ha enviado a su direccion un correo de recuperación", 'info');
	</script>
	<script th:if="${not #strings.isEmpty(contraseñaModificadaExito)}">
	    mostrarNotificacion("¡Exito!", "Se ha modificado con correctamente la contraseña", 'success');
	</script>
	<script th:if="${param.error}">
	    mostrarNotificacion("¡Error!","Las credenciales introducidas no son correctas", 'error');
	</script>
	
	<script>
        function updateUserType(value) {
            // Obtiene el valor del checkbox clicado
            const hiddenInput = document.getElementById('user-type');
            hiddenInput.value = value;
        }
    </script>
	
	<script>
        function toggleCheckbox(value) {
            // Obtiene los elementos de los checkboxes
            const checkboxEmpleado = document.getElementById('checkbox-empleado');
            const checkboxPaciente = document.getElementById('checkbox-paciente');

            // Cambia el estado del checkbox clicado
            if (value === 'empleado') {
                checkboxEmpleado.checked = !checkboxEmpleado.checked;
                checkboxPaciente.checked = false; // Desmarca el otro checkbox
            } else if (value === 'paciente') {
                checkboxPaciente.checked = !checkboxPaciente.checked;
                checkboxEmpleado.checked = false; // Desmarca el otro checkbox
            }
            
            // Actualiza la apariencia visual de los checkboxes
            checkboxEmpleado.parentNode.classList.toggle('checked', checkboxEmpleado.checked);
            checkboxPaciente.parentNode.classList.toggle('checked', checkboxPaciente.checked);
        }
    </script>
	
	
	<script th:inline="javascript">
    var empleadoCheckbox = document.getElementById('checkbox-empleado');
    var pacienteCheckbox = document.getElementById('checkbox-paciente');
    var clienteLabel = document.querySelector('.textLogin.cliente');
    var empleadoLabel = document.querySelector('.textLogin.empleado');
    var empleadoElements = document.querySelectorAll('.button2-empleado');
    var pacienteElements = document.querySelectorAll('.button2-paciente');

    function toggleUserElements() {
        if (empleadoCheckbox.checked) {
            showElements(empleadoElements);
            hideElements(pacienteElements);
            showElement(empleadoLabel);
            hideElement(clienteLabel);
        } else if (pacienteCheckbox.checked) {
            showElements(pacienteElements);
            hideElements(empleadoElements);
            showElement(clienteLabel);
            hideElement(empleadoLabel);
        }
    }

    function hideElements(elements) {
        elements.forEach(function (element) {
            element.style.display = 'none';
        });
    }

    function showElements(elements) {
        elements.forEach(function (element) {
            element.style.display = '';
        });
    }

    function hideElement(element) {
        element.style.display = 'none';
    }

    function showElement(element) {
        element.style.display = '';
    }

    // Ejecutar la función al cargar la página
    toggleUserElements();

    // Vincular la función al evento change de los checkboxes
    empleadoCheckbox.addEventListener('change', toggleUserElements);
    pacienteCheckbox.addEventListener('change', toggleUserElements);
</script>

	
</body>

</html>