<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Editar empleados</title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/5.3.2/css/bootstrap.min.css"
		th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
	<link rel="stylesheet" href="../static/css/estilo.css" th:href="@{/css/estilo.css}">
	<link rel="stylesheet" href="../static/css/menu.css" th:href="@{/css/menu.css}">
	<link rel="icon" href="../static/css/img/icono.png" th:href="@{/css/img/icono.png}">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js" th:src="@{/webjars/jquery/jquery.min.js}"></script>
	<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
	<script th:src="@{/script/script.js}"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/5.3.2/js/bootstrap.min.js" th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
</head>

  <body>
    <nav>
		<div class="menu m-2">
            <div class="logo">
                <i class="nav-link"><img th:src="@{/css/img/icono.png}" alt="imagen logo"></i>
                <a style="color: white; margin-top: 5px;" >AppCitasSAS</a>
            </div>
			<ul class="nav-links" style="margin-top: 15px;">
				<li><a style="color: white;" th:href="@{/}">Citas</a></li>
				<li><a style="color: white;" th:href="@{/}">Informes</a></li>
				<li><a style="color: white;" th:href="@{/}">Datos Personales</a></li>
				<li>
					<form th:action="@{/auth/logout}" method="post" id="logoutForm">
						<button type="button" class=""
							onclick="confirmarLogout()">Salir</button>
					</form>
				</li>				
			</ul>
		</div>
	</nav>
    <div class="container py-4">
      <form
        class="custom-form cardPrincipal"
        th:action="@{/privada/procesar-editar}"
        enctype="multipart/form-data"
        method="post"
        th:object="${pacienteDTO}"
      >
        <h2 class="text-center mb-5">
          <i class="bi bi-person-fill-gear" style="color: #1f3c85">Editar usuario</i>
        </h2>
        <input type="hidden" th:field="*{idPaciente}" />
        <div>
			<label for="fotoPerfil" class="form-label textoPrincipal">Foto de Perfil</label><br>
			<img style="width: 200px; height: 200px;" alt="Image" class="profile-image" width="200px" th:if="${pacienteDTO.profilePicture!= null}"
				th:src="'data:image/png;base64, ' + ${pacienteDTO.profilePicture}" />
			<img  style="width: 200px; height: 200px;" alt="Default Image" width="200px" class="profile-image" th:src="@{/css/img/default.png}"
				th:unless="${pacienteDTO.profilePicture!= null}"/>
		</div>
		<br>
        <div class="mb-3">
          <label for="email" class="form-label textoPrincipal">Correo Electrónico</label>
          <input
            th:field="*{emailPaciente}"
            type="email"
            id="email"
            name="email"
            class="form-control"
            readonly
            disabled
          />
        </div>
        <div class="mb-3">
          <label for="nombre" class="form-label textoPrincipal">Nombre</label>
          <input
            th:field="*{nombreCompletoPaciente}"
            type="text"
            id="nombre"
            name="nombre"
            class="form-control"
            required
          />
        </div>
        <div class="mb-3">
          <label for="dni" class="form-label textoPrincipal">DNI</label>
          <input
            th:field="*{dniPaciente}"
            type="text"
            id="dni"
            name="dni"
            class="form-control"
            required
          />
        </div>
         
        <div class="mb-3">
          <label for="telefono" class="form-label textoPrincipal">Teléfono</label>
          <input
            th:field="*{tlfPaciente}"
            type="tel"
            id="telefono"
            name="telefono"
            class="form-control"
            required
          />
        </div>
        
         <div class="mb-3">
          <label for="direccion" class="form-label textoPrincipal">Direccion</label>
          <input
            th:field="*{direccionPaciente}"
            type="text"
            id="direccion"
            name="direccion"
            class="form-control"
            required
          />
        </div>
        
        <div class="mb-3">
		   <label for="foto" class="form-label textoPrincipal">Foto de Perfil</label>
		   <input  class="form-control" type="file" id="profilePicture" name="file" accept="image/*"  />
		</div>
          <button type="submit" class="btn btn-primary mt-5">
            <i class="bi bi-person-fill-gear fs-5"> Guardar cambios</i>
          </button>
          <a th:href="@{/privada/Pacientes}">Volver</a>
      </form>
    </div>
  </body>
</html>