<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
<meta charset="UTF-8">
<title>Home</title>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/5.3.2/css/bootstrap.min.css"
		th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
	<link rel="stylesheet" href="../static/css/estilo.css" th:href="@{/css/estilo.css}">
	<link rel="stylesheet" href="../static/css/menu.css" th:href="@{/css/menu.css}">
	<link rel="icon" href="../static/css/img/icono.png" th:href="@{/css/img/icono.png}">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js" th:src="@{/webjars/jquery/jquery.min.js}"></script>
	<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
	<script th:src="@{/script/script.js}"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/5.3.2/js/bootstrap.min.js" th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
	<style>
        
		.parent {
			display: grid;
			grid-template-columns: repeat(4, 1fr);
			grid-template-rows: repeat(4, 1fr);
			grid-column-gap: 0px;
			grid-row-gap: 0px;
			}
		
		.div1 { 
			grid-area: 1 / 1 / 3 / 3; 
			max-width: 620px;
			min-width: 620px;
			min-height: 300px;
			max-height: 300px;
			margin-bottom: 35px;
			margin-left: 15px;
			}
		.div2 { 
			grid-area: 1 / 3 / 3 / 5;
 			max-width: 620px;
			min-width: 620px;
			min-height: 300px;
			max-height: 300px;
			margin-bottom: 35px;
			}
		.div3 { 
			grid-area: 3 / 1 / 5 / 3; 
			max-width: 620px;
			min-width: 620px;
			min-height: 300px;
			max-height: 300px;
			margin-top: 30px;
			margin-left: 15px;
			}
		.div4 { 
			grid-area: 3 / 3 / 5 / 5; 
			max-width: 620px;
			min-width: 620px;
			min-height: 300px;
			max-height: 300px;
			margin-top: 30px;
			}
			
			.bi {
				font-size:12.5px;
			}
		
		
	</style>
</head>

<body>
	<nav>
		<div class="menu m-2">
            <div class="logo">
                <i class="nav-link"><img th:src="@{/css/img/icono.png}" alt="imagen logo"></i>
                <a style="color: white; margin-top: 5px;" >AppCitasSAS</a>
            </div>
			<ul class="nav-links" style="margin-top: 15px;">
				<li><a style="color: white;" th:href="@{/}">Listado Doctores</a></li>
				<li><a style="color: white;" th:href="@{/}">Listado Pacientes</a></li>
				<li><a style="color: white;" th:href="@{/}">Listado Horarios</a></li>
				<li>
					<form th:action="@{/auth/logout}" method="post" id="logoutForm">
						<button type="button" class=""
							onclick="confirmarLogout()">Salir</button>
					</form>
				</li>				
			</ul>
		</div>
	</nav>
	<br>
	<div class="parent">
		<div class="div1"> 
			<div class="card bg-light">
				<div class="card-header d-flex justify-content-between align-items-center">
					<h3>Administracion Doctores</h3>
				    <button class="btn btn-success" onclick="CrearDoctor">
				        <i class="bi bi-plus-square"></i>
				    </button>
				</div>
				<div class="card-body" style="max-width: 625px;max-height: 275px;overflow: auto;">
	
					<h5 class="card-title text-center text-danger" th:if="${#lists.isEmpty(doctores)}">No hay doctores registrados</h5>
					
					<table class="table table-striped table-bordered" th:if="${not #lists.isEmpty(doctores)}">
						<thead class="thead-inverse">
							<tr>
								<th class="table-dark" >Id</th>
								<th class="table-dark" >Nombre</th>
								<th class="table-dark" >Especialidad</th>
								<th class="table-dark" sec:authorize="hasRole('ROLE_ADMIN')"></th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="doctor : ${doctores}">
								<td th:text="${doctor.idDoctor}"></td>
								<td th:text="${doctor.nombreCompletoDoctor}"></td>
								<td th:text="${doctor.especialidadDoctor}"></td>
								<td style="text-align: center;" sec:authorize="hasRole('ROLE_ADMIN')">
								    <!-- Botón para Eliminar Doctor -->
								    <button class="btn btn-danger" th:attr="data-id=${doctor.idDoctor}" onclick="confirmarEliminarCita(event)">
								        <i class="bi bi-trash3-fill"></i> <!-- Icono de borrar -->
								    </button>
								
								    <!-- Botón para Editar Doctor -->
								    <button class="btn btn-danger" th:attr="data-id=${doctor.idDoctor}" onclick="confirmarEditarCita(event)">
								        <i class="bi bi-pencil-square"></i> <!-- Icono de lápiz (editar) -->
								    </button>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
		<br>
		<div class="div2"> 
			<div class="card bg-light">
				<div class="card-header d-flex justify-content-between align-items-center">
					<h3>Administracion Pacientes</h3>
				    <button class="btn btn-success" onclick="CrearPaciente">
				        <i class="bi bi-plus-square"></i>
				    </button>
				</div>
				<div class="card-body" style="max-width: 625px;max-height: 275px;overflow: auto;">
	
					<h5 class="card-title text-center text-danger" th:if="${#lists.isEmpty(pacientes)}">No hay pacientes registrados</h5>
					
					<table class="table table-striped table-bordered" th:if="${not #lists.isEmpty(pacientes)}">
						<thead class="thead-inverse">
							<tr>
								<th class="table-dark" >Id</th>
								<th class="table-dark" >Nombre</th>
								<th class="table-dark" >Dni</th>
								<th class="table-dark" >Email</th>
								<th class="table-dark" >Telefono</th>
								<th class="table-dark" >Direccion</th>
								<th class="table-dark" sec:authorize="hasRole('ROLE_ADMIN')"></th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="paciente : ${pacientes}">
								<td th:text="${paciente.idPaciente}"></td>
								<td th:text="${paciente.nombreCompletoPaciente}"></td>
								<td th:text="${paciente.dniPaciente}"></td>
								<td th:text="${paciente.emailPaciente}"></td>
								<td th:text="${paciente.tlfPaciente}"></td>
								<td th:text="${paciente.direccionPaciente}"></td>
								<td style="text-align: center;" sec:authorize="hasRole('ROLE_ADMIN')">
								    <!-- Botón para Eliminar paciente -->
								    <button style="margin-bottom: 5px;" class="btn btn-danger" th:attr="data-id=${paciente.idPaciente}" onclick="confirmarEliminar(event)">
								        <i class="bi bi-trash3-fill"></i> <!-- Icono de borrar -->
								    </button>
								
								    <!-- Botón para Editar paciente -->
								    <button style="margin-bottom: 5px;" class="btn btn-danger" th:attr="data-id=${paciente.idPaciente}" onclick="EditarPaciente(event)">
								        <i class="bi bi-pencil-square"></i> <!-- Icono de lápiz (editar) -->
								    </button>
								</td>
	
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
		<br>
		<div class="div3"> 
			<div class="card bg-light">
				<div class="card-header"><h3>Administracion Citas</h3></div>
				<div class="card-body" style="max-width: 625px;max-height: 275px;overflow: auto;">
	
					<h5 class="card-title text-center text-danger" th:if="${#lists.isEmpty(citas)}">No hay citas registradas</h5>
					
					<table class="table table-striped table-bordered" th:if="${not #lists.isEmpty(citas)}">
						<thead class="thead-inverse">
							<tr>
								<th class="table-dark" >Id</th>
								<th class="table-dark" >Fecha</th>
								<th class="table-dark" >Hora</th>
								<th class="table-dark" >Motivo</th>
								<th class="table-dark" >Estado</th>
								<th class="table-dark" sec:authorize="hasRole('ROLE_ADMIN')"></th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="cita : ${citas}">
								<td th:text="${cita.idCita}"></td>
								<td th:text="${cita.fechaCita}"></td>
								<td th:text="${cita.horaCita}"></td>
								<td th:text="${cita.motivoCita}"></td>
								<td th:text="${cita.estadoCita}"></td>
								<td style="text-align: center;" sec:authorize="hasRole('ROLE_ADMIN')">								
								    <!-- Botón para Editar cita -->
								    <button class="btn btn-danger" th:attr="data-id=${cita.idCita}" onclick="confirmarEditarCita(event)">
								        <i class="bi bi-pencil-square"></i> <!-- Icono de lápiz (editar) -->
								    </button>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
		<br>
		<div class="div4"> 
			<div class="card bg-light">
				<div class="card-header d-flex justify-content-between align-items-center">
					<h3>Administracion Horarios</h3>
				    <button class="btn btn-success" onclick="CrearTurno(event)">
				        <i class="bi bi-plus-square"></i>
				    </button>
				</div>
				<div class="card-body" style="max-width: 625px;max-height: 275px;overflow: auto;">
	
					<h5 class="card-title text-center text-danger" th:if="${#lists.isEmpty(consultaTurnos)}">No hay turnos registrados</h5>
					
					<table class="table table-striped table-bordered" th:if="${not #lists.isEmpty(consultaTurnos)}">
						<thead class="thead-inverse">
							<tr>
								<th class="table-dark" >Id</th>
								<th class="table-dark" >Consulta</th>
								<th class="table-dark" >Hora Turno</th>
								<th class="table-dark" sec:authorize="hasRole('ROLE_ADMIN')"></th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="consultaTurno : ${consultaTurnos}">
								<td th:text="${consultaTurno.idConsultaTurno}"></td>
								<td th:text="${consultaTurno.numConsulta}"></td>
								<td th:text="${#dates.format(consultaTurno.tramoHoraTurnoInicio, 'HH:mm:ss')} + ' - ' + ${#dates.format(consultaTurno.tramoHoraTurnoFin, 'HH:mm:ss')}"></td>
								<td style="text-align: center;" sec:authorize="hasRole('ROLE_ADMIN')">								
								    <!-- Botón para Editar Turno -->
								    <button class="btn btn-danger" th:attr="data-id=${consultaTurno.idConsultaTurno}" onclick="EditarTurno(event)">
								        <i class="bi bi-pencil-square"></i> <!-- Icono de lápiz (editar) -->
								    </button>															
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
	<script>
		function confirmarEliminarUsuario(event) {
		    const idUsuario = event.currentTarget.getAttribute("data-id");
		    confirmar().then(function (confirmado) {
		        if (confirmado) {
		            window.location.href = 'http://localhost:8080/privada/eliminar/' + idUsuario;
		        }
		    });
		}
		function EditarPaciente(event) {
		    const idPaciente = event.currentTarget.getAttribute("data-id");
		    window.location.href = 'http://localhost:8080/privada/editar-paciente/' + idPaciente;
		}
		
		
		function CrearTurno(event) {
		    window.location.href = 'http://localhost:8080/privada/crear-turno';
		}
		
		function EditarTurno(event) {
		    const idTurno = event.currentTarget.getAttribute("data-id");
		    window.location.href = 'http://localhost:8080/privada/editar-turno/' + idTurno;
		}
		
		
		function confirmarEliminarDoctor(event) {
		    const idDoctor = event.currentTarget.getAttribute("data-id");
		    confirmar().then(function (confirmado) {
		        if (confirmado) {
		            window.location.href = 'http://localhost:8080/privada/eliminarDoctor/' + idDoctor;
		        }
		    });
		}
		function confirmarEliminarCita(event) {
		    const idCita = event.currentTarget.getAttribute("data-id");
		    confirmar().then(function (confirmado) {
		        if (confirmado) {
		            window.location.href = 'http://localhost:8080/privada/eliminarCita/' + idCita;
		        }
		    });
		}
	</script>
</body>

</html>