<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
<meta charset="UTF-8">
<title>Home</title>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/5.3.2/css/bootstrap.min.css"
		th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
	<link rel="stylesheet" href="../static/css/estilo.css" th:href="@{/css/estilo.css}">
	<link rel="stylesheet" href="../static/css/menu.css" th:href="@{/css/menu.css}">
	<link rel="icon" href="../static/css/img/icono.png" th:href="@{/css/img/icono.png}">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js" th:src="@{/webjars/jquery/jquery.min.js}"></script>
	<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
	<script th:src="@{/script/script.js}"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/5.3.2/js/bootstrap.min.js" th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
	<style>
        
		.parent {
			display: grid;
			grid-template-columns: repeat(4, 1fr);
			grid-template-rows: repeat(4, 1fr);
			grid-column-gap: 0px;
			grid-row-gap: 0px;
		}
		
		.divMain { grid-area: 1 / 1 / 5 / 4; }
		.divDatos { 
			grid-area: 1 / 4 / 5 / 5; 
			min-width: 325px;
			max-width: 325px;
			min-height: 700px;
			max-height: 700px;
			overflow: auto;
		}
			
		.div1 {
			grid-area: 1 / 1 / 3 / 4;
			min-width: 925px;
			min-height: 375px;
			max-width: 925px;
			max-height: 375px;
		}
		
		.div2 {
			grid-area: 1 / 4 / 5 / 5;
			min-width: 925px;
			min-height: 325px;
			max-width: 925px;
			max-height: 325px;
			
		}
		/*Estilos boton SALIR */
	    
	    .bi {
	        font-size: 12.5px;
	    }
	    .botonSalir {
		    background-color: #ff4d4d; /* Color de fondo personalizado */
		    border-color: #ff4d4d; /* Color del borde */
		    color: white; /* Color del texto */
		    font-weight: bold; /* Negrita en el texto */
		    padding: 10px 20px; /* Relleno alrededor del texto */
		    border-radius: 5px; /* Bordes redondeados */
		    transition: background-color 0.3s ease, transform 0.3s ease; /* Efecto de transición */
		}
		
		.botonSalir:hover {
		    background-color: #e60000; /* Color de fondo al pasar el ratón */
		    border-color: #e60000; /* Color del borde al pasar el ratón */
		    transform: scale(1.05); /* Efecto de aumento */
		}
	</style>
</head>

<body>
	<nav>
		<div class="menu m-2">
            <div class="logo">
                <i class="nav-link"><img th:src="@{/css/img/icono.png}" alt="imagen logo"></i>
                <a style="color: white; margin-top: 5px;" >AppCitasSAS</a>
            </div>
			<ul class="nav-links" style="margin-top: 15px;">
				<li style="margin-top: 10px;"><a style="color: white;" th:href="@{/privada/crearCita}">Nueva Cita</a></li>
				<li style="margin-top: 10px;"><a style="color: white;" th:href="@{/privada/editar-paciente/} + ${paciente.idPaciente}">Modificar Datos Personales</a></li>
				<li>
					<form th:action="@{/auth/logout}" method="post" id="logoutForm">
						<button type="button" class="btn btn-danger botonSalir" 
							onclick="confirmarLogout()">Salir</button>
					</form>
				</li>				
			</ul>
		</div>
	</nav>
	<br>
	<div class="parent">
		<div class="divMain">
			<div class="div1">
				<div class="card bg-light">
					<div class="card-header"><h3>Proximas Citas</h3></div>
					<div class="card-body" style="max-width: 950px;max-height: 225px;overflow: auto;">
		
						<h5 class="card-title text-center text-danger" th:if="${#lists.isEmpty(citas)}">No hay citas pendientes</h5>
						
						<table class="table table-striped table-bordered" th:if="${not #lists.isEmpty(citas)}">
							<thead class="thead-inverse">
								<tr>
									<th class="table-dark" style="width: 20%;">Fecha</th>
									<th class="table-dark" style="width: 20%;">Hora</th>
									<th class="table-dark" style="width: 25%;">Motivo</th>
									<th class="table-dark" style="width: 15%;">Estado</th>
									<th class="table-dark" style="width: 15%;" sec:authorize="hasRole('ROLE_USER')"></th>
								</tr>
							</thead>
							<tbody>
								<tr th:each="cita : ${citas}" th:if="${cita.estadoCita == 'Pendiente' or cita.estadoCita == 'Completada'}">
									<td th:text="${cita.fechaCita}"></td>
									<td th:text="${cita.horaCita}"></td>
									<td th:text="${cita.motivoCita}"></td>
									<td th:text="${cita.estadoCita}"></td>
									<td sec:authorize="hasRole('ROLE_USER')"  style="text-align: center;">
		    							<button class="btn btn-danger" th:attr="data-id=${cita.idCita}" onclick="cancelarCita(event)">
						                	<i class="bi bi-x-square"></i>
						            	</button>
									</td>
		
								</tr>
							</tbody>
						</table>
					</div>
					
					<div class="card-body">
						<h4 class="card-title" style="text-align: center;">
							<a sec:authorize="hasRole('ROLE_USER')" th:href="@{/privada/crearCita}" class="btn btn-dark">
								crear cita
							</a>
						</h4>
					</div>
				</div>
			</div>
		
			<div class="div2">
			    <div class="card bg-light">
			        <div class="card-header"><h3>Informes</h3></div>
			        <div class="card-body" style="max-width: 950px;max-height: 225px;overflow: auto;">
			            <h5 class="card-title text-center text-danger" th:if="${#lists.isEmpty(informes)}">No hay Informes</h5>
			
			            <table class="table table-striped table-bordered" th:if="${not #lists.isEmpty(informes)}">
			                <thead class="thead-inverse">
			                    <tr>
			                        <th class="table-dark" style="width: 85%;">Datos del Informe</th>
			                        <th class="table-dark" style="width: 15%; text-align: center;">Acciones</th>
			                    </tr>
			                </thead>
			                <tbody id="informesTable">
			                    <tr th:each="informe : ${informes}">
			                        <td>
			                            <div class="informe-item">
											<span th:text="'Fecha del Informe: ' + ${#dates.format(informe.fchInforme, 'dd-MM-yyyy HH:mm:ss')}" class="informe-fecha"></span>
											<br>
			                                <span th:text="'Nombre del Informe: ' + ${informe.nombreInforme}" class="informe-nombre"></span>
			                            </div>
			                            <div class="informe-descripcion" style="display: none;">
											<br>
			                                <p th:text="'Descripcion del Informe: ' + ${informe.descInforme}"></p>
			                                <div>
				                            	<button class="btn btn-primary verInfo" th:attr="data-id=${informe.idInforme}" onclick="descargarPdf(event)">Descargar PDF</button>
				                            </div>    
			                            </div>
			                        </td>
			                        <td style="text-align: center;">
			                            <button class="btn btn-primary verInfo" onclick="toggleDescripcion(this)">Ver Informe</button>                    
			                        </td>
			                    </tr>
			                </tbody>
			            </table>
			        </div>
			    </div>
			</div>
		</div>
		
		
		<div class="divDatos">
			<div class="card bg-light">
				<div class="card-header"><h3>Datos Personales</h3></div>	
				<div class="card-body">
						
					<div class="user-card-container">
					    <div class="user-card">
					        <div style="text-align: center;">
								<img style="width: 120px; height: 120px;" alt="Image" class="profile-image" width="200px" th:if="${pacienteDTO.profilePicture!= null}"
									th:src="'data:image/png;base64, ' + ${pacienteDTO.profilePicture}" />
								<img style="width: 120px; height: 120px;" alt="Default Image" width="200px" class="profile-image" th:src="@{/css/img/default.png}"
									th:unless="${pacienteDTO.profilePicture!= null}"/>
							</div>
					        <div class="user-details">
								
					            <h5 class="card-title" th:text="${paciente.nombreCompletoPaciente}" style="text-align: center;"></h5>
					            <br>
					            <dl class="user-info" style="text-align: center;">
					                <dt>Email</dt>
					                <dd th:text="${paciente.emailPaciente}"></dd><br>
					
					                <dt>Dni</dt>
					                <dd th:text="${paciente.dniPaciente}"></dd><br>
					
					                <dt>Teléfono</dt>
					                <dd th:text="${paciente.tlfPaciente}"></dd><br>
					
					                <dt>Dirección</dt>
					                <dd th:text="${paciente.direccionPaciente}"></dd>
					            </dl>
					            <br>
					            <div class="btn-container text-center">
									<a class="btn btn-primary" th:href="@{/privada/editar-paciente/} + ${paciente.idPaciente}" th:text="'Modificar Datos'"></a>
								</div>									       
					        </div>
					    </div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<script>
	    function toggleDescripcion(button) {
	        var informeItem = button.closest('tr');
	        var descripcion = informeItem.querySelector('.informe-descripcion');
	        descripcion.style.display = (descripcion.style.display === 'none' || descripcion.style.display === '') ? 'table-cell' : 'none';
	    }
	    
	    function cancelarCita(event) {
		    const idCita = event.currentTarget.getAttribute("data-id");
		    confirmar().then(function (confirmado) {
		        if (confirmado) {
		            window.location.href = 'http://localhost:8080/privada/eliminar-cita/' + idCita;
		        }
		    });
		}
	    
	    function descargarPdf(event) {
	    	const idInforme = event.currentTarget.getAttribute("data-id");
	    	window.location.href = 'http://localhost:8080/privada/generarPdf/' + idInforme + '?format=pdf';
	    }
	</script>
</body>

</html>