<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
<meta charset="UTF-8">
<title>Home</title>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/5.3.2/css/bootstrap.min.css"
		th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
	<link rel="stylesheet" href="../static/css/estilo.css" th:href="@{/css/estilo.css}">
	<link rel="stylesheet" href="../static/css/menu.css" th:href="@{/css/menu.css}">
	<link rel="icon" href="../static/css/img/icono.png" th:href="@{/css/img/icono.png}">
	<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js" th:src="@{/webjars/jquery/jquery.min.js}"></script>
	<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
	<script th:src="@{/script/script.js}"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/5.3.2/js/bootstrap.min.js" th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
	<style>
        
		.parent {
	        display: grid;
	        grid-template-columns: repeat(4, 1fr);
	        grid-template-rows: repeat(4, 1fr);
	        grid-column-gap: 0px;
	        grid-row-gap: 0px;
	        width: 100%; /* Ocupa el ancho completo de la pantalla */
	        justify-content: end; /* Alinea los elementos al borde derecho */
    	}
    	.div1, .div2, .div3, .div4 { 
	        max-width: 925px;
	        min-width: 620px;
	        min-height: 300px;
	        max-height: 450px;
	    }
	    .div1 { 
	        grid-area: 1 / 1 / 3 / 3; 
	        margin-bottom: 35px;
	        margin-left: 20px;
	    }
	    .div2 { 
	        grid-area: 1 / 3 / 3 / 5;
	        margin-bottom: 35px;
	    }
	    .div3 { 
	        grid-area: 3 / 1 / 5 / 3; 
	        margin-top: 30px;
	        margin-left: 20px;
	    }
	    .div4 { 
	        grid-area: 3 / 3 / 5 / 5; 
	        margin-top: 30px;
	    }
	    
	    
	    /*Estilos Calendario */
	    .div5{
	     	width: 90%;
            margin: auto;
            padding: 20px;
	    }	    
        .filter-container {
            margin-bottom: 20px;
        }
        .calendar {
            display: grid;
            grid-template-columns: repeat(8, 1fr);
            gap: 1px;
            background-color: #ccc;
        }
        .calendar div {
            padding: 10px;
            background-color: #fff;
            text-align: center;
            border: 1px solid #ddd;
        }
        .header {
            background-color: #f4f4f4;
            font-weight: bold;
        }
        .turno {
            display: none;
        }
	    
	    
	    /*Estilos boton SALIR */
	    
	    .bi {
	        font-size: 12.5px;
	    }
	    .botonSalir {
		    background-color: #ff4d4d; /* Color de fondo personalizado */
		    border-color: #ff4d4d; /* Color del borde */
		    color: white; /* Color del texto */
		    font-weight: bold; /* Negrita en el texto */
		    padding: 10px 20px; /* Relleno alrededor del texto */
		    border-radius: 5px; /* Bordes redondeados */
		    transition: background-color 0.3s ease, transform 0.3s ease; /* Efecto de transición */
		}
		
		.botonSalir:hover {
		    background-color: #e60000; /* Color de fondo al pasar el ratón */
		    border-color: #e60000; /* Color del borde al pasar el ratón */
		    transform: scale(1.05); /* Efecto de aumento */
		}				
	</style>
</head>

<body>
	<nav>
		<div class="menu m-2">
		    <div class="logo">
		        <i class="nav-link"><img th:src="@{/css/img/icono.png}" alt="imagen logo"></i>
		        <a style="color: white; margin-top: 5px;">AppCitasSAS</a>
		    </div>
		    <ul class="nav-links" style="margin-top: 15px;">
		        <li>
		            <form th:action="@{/auth/logout}" method="post" id="logoutForm">
		                <button type="button" class="btn btn-danger botonSalir" onclick="confirmarLogout()">Salir</button>
		            </form>
		        </li>                
		    </ul>
		</div>
	</nav>
	<br>
	<div class="parent">
		<div class="div1"> 
			<div class="card bg-light">
				<div class="card-header d-flex justify-content-between align-items-center">
					<h3>Administracion Doctores</h3>
				    <button class="btn btn-success" onclick="CrearDoctor(event)">
				        <i class="bi bi-plus-square"></i>
				    </button>
				</div>
				<div class="card-body" style="max-width: 925px; min-width: 620px; min-height: 300px; max-height: 450px;overflow: auto;">
	
					<h5 class="card-title text-center text-danger" th:if="${#lists.isEmpty(doctores)}">No hay doctores registrados</h5>
					
					<table class="table table-striped table-bordered" th:if="${not #lists.isEmpty(doctores)}">
						<thead class="thead-inverse">
							<tr>
								<th class="table-dark" >Id</th>
								<th class="table-dark" >Nombre</th>
								<th class="table-dark" >Especialidad</th>
								<th class="table-dark" sec:authorize="hasRole('ROLE_ADMIN')"></th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="doctor : ${doctores}">
								<td th:text="${doctor.idDoctor}"></td>
								<td th:text="${doctor.nombreCompletoDoctor}"></td>
								<td th:text="${doctor.especialidadDoctor}"></td>
								<td style="text-align: center;" sec:authorize="hasRole('ROLE_ADMIN')">
								    <!-- Botón para Eliminar Doctor -->
								    <button class="btn btn-danger" th:attr="data-id=${doctor.idDoctor}" onclick="EliminarDoctor(event)">
								        <i class="bi bi-trash3-fill"></i> <!-- Icono de borrar -->
								    </button>
								
								    <!-- Botón para Editar Doctor -->
								    <button class="btn btn-danger" th:attr="data-id=${doctor.idDoctor}" onclick="EditarDoctor(event)">
								        <i class="bi bi-pencil-square"></i> <!-- Icono de lápiz (editar) -->
								    </button>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
		<br>
	    <div th:if="${noSePuedeEliminar}" class="alert alert-danger" role="alert">
	        <span th:text="${noSePuedeEliminar}"></span>
	    </div>
	
	    <div class="div2">
		    <div class="card bg-light">
		        <div class="card-header d-flex justify-content-between align-items-center">
		            <h3>Administración Pacientes</h3>
		            <button class="btn btn-success" onclick="CrearPaciente(event)">
		                <i class="bi bi-plus-square"></i>
		            </button>
		        </div>
		        <div class="card-body" style="max-width: 925px; min-width: 620px; min-height: 300px; max-height: 450px;overflow: auto;">
		            <input type="text" id="searchInput" class="form-control mb-3" placeholder="Buscar por email..." onkeyup="filtrarTabla()">
		            <h5 class="card-title text-center text-danger" th:if="${#lists.isEmpty(pacientes)}">No hay pacientes registrados</h5>
		
		            <table class="table table-striped table-bordered" th:if="${not #lists.isEmpty(pacientes)}">
		                <thead class="thead-inverse">
		                    <tr>
		                        <th class="table-dark">Id</th>
		                        <th class="table-dark">Nombre</th>
		                        <th class="table-dark">Dni</th>
		                        <th class="table-dark">Email</th>
		                        <th class="table-dark">Teléfono</th>
		                        <th class="table-dark">Dirección</th>
		                        <th class="table-dark">Cuenta activa</th>
		                        <th class="table-dark">Rol</th>
		                        <th class="table-dark" sec:authorize="hasRole('ROLE_ADMIN')"></th>
		                    </tr>
		                </thead>
		                <tbody id="tablaPacientes">
		                    <tr th:each="paciente : ${pacientes}">
		                        <td th:text="${paciente.idPaciente}"></td>
		                        <td th:text="${paciente.nombreCompletoPaciente}"></td>
		                        <td th:text="${paciente.dniPaciente}"></td>
		                        <td th:text="${paciente.emailPaciente}"></td>
		                        <td th:text="${paciente.tlfPaciente}"></td>
		                        <td th:text="${paciente.direccionPaciente}"></td>
		                        <td th:text="${paciente.cuentaConfirmada ? 'Sí' : 'No'}"></td>
		                        <td th:text="${paciente.rolPaciente == 'ROLE_USER' ? 'USER' : 'ADMIN'}"></td>
		                        <td style="text-align: center;" sec:authorize="hasRole('ROLE_ADMIN')">
		                            <button style="margin-bottom: 5px;" class="btn btn-danger" th:attr="data-id=${paciente.idPaciente + '|' + paciente.emailPaciente}" onclick="confirmarEliminar(event)">
		                                <i class="bi bi-trash3-fill"></i>
		                            </button>
		                            <button style="margin-bottom: 5px;" class="btn btn-danger" th:attr="data-id=${paciente.idPaciente}" onclick="EditarPaciente(event)">
		                                <i class="bi bi-pencil-square"></i>
		                            </button>
		                        </td>
		                    </tr>
		                </tbody>
		            </table>
		        </div>
		    </div>
		</div>
		<br>
		<div class="div3">
		    <div class="card bg-light">		      
		        <div class="card-header"><h3>Administracion Citas</h3></div>		     
		        <div class="card-body" style="max-width: 925px; min-width: 620px; min-height: 300px; max-height: 450px;overflow-x: auto;">
		        	<form>
			            <div class="form-group">
			                <label for="estadoCita">Filtrar por estado:</label>
			                <select id="estadoCita" class="form-control" onchange="filtrarCitas()">
			                    <option value="Todos" selected>Todos</option>    
			                    <option value="Pendiente">Pendiente</option>
			                    <option value="Cancelada">Cancelada</option>
			                    <option value="Completada">Completada</option>
			                </select>
			            </div>
			        </form>
		            <h5 class="card-title text-center text-danger" th:if="${#lists.isEmpty(citas)}">No hay citas registradas</h5>		            
		            <table class="table table-striped table-bordered" id="tablaCitas" th:if="${not #lists.isEmpty(citas)}">
		                <thead class="thead-inverse">
		                    <tr>
		                        <th class="table-dark">Id</th>
		                        <th class="table-dark">Fecha</th>
		                        <th class="table-dark">Hora</th>
		                        <th class="table-dark">Motivo</th>
		                        <th class="table-dark">Paciente</th>
		                        <th class="table-dark">Doctor</th>
		                       	<th class="table-dark">Estado</th>
		                        <th class="table-dark" sec:authorize="hasRole('ROLE_ADMIN')"></th>
		                    </tr>
		                </thead>
		                <tbody>
		                    <tr th:each="cita : ${citas}">
		                        <td th:text="${cita.idCita}"></td>
		                        <td th:text="${cita.fechaCita}"></td>
		                        <td th:text="${cita.horaCita}"></td>
		                        <td th:text="${cita.motivoCita}"></td>		                        
		                        <td th:text="${cita.paciente.nombreCompletoPaciente}"></td>
		                        <td th:text="${cita.consultaTurno.doctor.nombreCompletoDoctor}"></td>
		                        <td class="estado" th:text="${cita.estadoCita}"></td>
		                        <td style="text-align: center;" sec:authorize="hasRole('ROLE_ADMIN')">
		                            <!-- Botón para Cancelar cita -->
		                            <button class="btn btn-danger" th:attr="data-id=${cita.idCita}" id="btn-cancelar-${cita.idCita}" onclick="confirmarCancelarCita(event)">
		                                <i class="bi bi-x-square"></i>
		                            </button>
		                            <!-- Botón para Completar cita -->
		                            <button class="btn btn-success" th:attr="data-id=${cita.idCita}" id="btn-completar-${cita.idCita}" onclick="confirmarCompletarCita(event)">
		                                <i class="bi bi-check-square"></i>
		                            </button>
		                        </td>
		                    </tr>
		                </tbody>
		            </table>
		        </div>
		    </div>
		</div>
		<br>
		<div class="div4"> 
			<div class="card bg-light">
				<div class="card-header d-flex justify-content-between align-items-center">
					<h3>Administracion Horarios</h3>				
				</div>
				<div class="card-body" style="max-width: 925px; min-width: 620px; min-height: 300px; max-height: 450px;overflow: auto;">					
					
					<table class="table table-striped table-bordered" th:if="${not #lists.isEmpty(horarios)}">
						<thead class="thead-inverse">
							<tr>
								<th class="table-dark" >Id</th>
								<th class="table-dark" >Dia Semana</th>
								<th class="table-dark" >Hora Inicio</th>
								<th class="table-dark" >Hora Fin</th>						
							</tr>
						</thead>
						<tbody>
							<tr th:each="horario : ${horarios}">
								<td th:text="${horario.idHorario}"></td>
								<td th:text="${T(appCitas.AppCitasSASv2.utils.TraducirDiaSemana).getDiaSemanaEnEspanol(horario.diaSemana)}"></td>
								<td th:text="${#dates.format(horario.tramoHorarioInicio, 'HH:mm:ss')}"></td>
								<td th:text="${#dates.format(horario.tramoHorarioFin, 'HH:mm:ss')}"></td>								
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
	<br>
	<br>
	<div class="div5"> 
		<div class="card bg-light">
			<div class="card-header d-flex justify-content-between align-items-center">
				<h3>Tabla De Turnos</h3>			
			</div>
			<div class="card-body" style="overflow: auto;">					
				<h5 class="card-title text-center text-danger" th:if="${#lists.isEmpty(consultaTurnos)}">No hay Turnos registrados</h5>		            
				<table class="table table-striped table-bordered" th:if="${not #lists.isEmpty(consultaTurnos)}">
					<thead class="thead-inverse">
						<tr>
							<th class="table-dark" >Id</th>
							<th class="table-dark" >Numero Consulta</th>
							<th class="table-dark" >Nombre Consulta</th>							
							<th class="table-dark" >Doctor</th>	
							<th class="table-dark" >Dia Semana</th>
							<th class="table-dark" >Hora Inicio</th>	
							<th class="table-dark" >Hora Fin</th>
							<th class="table-dark" sec:authorize="hasRole('ROLE_ADMIN')"></th>		                    					
						</tr>
					</thead>
					<tbody>
						<tr th:each="consultaTurno : ${consultaTurnos}">
							<td th:text="${consultaTurno.idConsultaTurno}"></td>
							<td th:text="${consultaTurno.numConsulta}"></td>
							<td th:text="${consultaTurno.nombreConsulta}"></td>							
							<td th:text="${consultaTurno.doctor.nombreCompletoDoctor}"></td>
							<td th:text="${T(appCitas.AppCitasSASv2.utils.TraducirDiaSemana).getDiaSemanaEnEspanol(consultaTurno.horario.diaSemana)}"></td>
							<td th:text="${#dates.format(consultaTurno.horario.tramoHorarioInicio, 'HH:mm:ss')}"></td>
							<td th:text="${#dates.format(consultaTurno.horario.tramoHorarioFin, 'HH:mm:ss')}"></td>
							<td style="text-align: center;" sec:authorize="hasRole('ROLE_ADMIN')">
	                            <button style="margin-bottom: 5px;" class="btn btn-danger" th:attr="data-id=${consultaTurno.idConsultaTurno}" onclick="AsignarDoctor(event)">
	                                <i class="bi bi-pencil-square">Asignar Doctor</i>
	                            </button>
	                        </td>								
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
	<br>
	<br>
	<script>
		
		function filtrarCitas() {
	        const estadoSeleccionado = document.getElementById("estadoCita").value;
	        const filas = document.querySelectorAll("#tablaCitas tbody tr");

	        filas.forEach(fila => {
	            const estadoCita = fila.querySelector(".estado").innerText;

	            if (estadoSeleccionado === "Todos" || estadoCita === estadoSeleccionado) {
	                fila.style.display = ""; // Mostrar fila
	            } else {
	                fila.style.display = "none"; // Ocultar fila
	            }

	            const btnCancelar = fila.querySelector(".btn-danger");
	            const btnCompletar = fila.querySelector(".btn-success");

	            if (estadoCita !== "Pendiente") {
	                btnCancelar.style.display = "none";
	                btnCompletar.style.display = "none";
	            } else {
	                btnCancelar.style.display = "";
	                btnCompletar.style.display = "";
	            }
	        });
	    }

	    document.addEventListener("DOMContentLoaded", function() {
	        filtrarCitas(); // Aplicar el filtro al cargar la página
	    });
	    function CrearPaciente(event) {
            window.location.href = 'https://appcitassas.glezmanz.eu/auth/registrar';
        }
		function EditarPaciente(event) {
		    const idPaciente = event.currentTarget.getAttribute("data-id");
		    window.location.href = 'https://appcitassas.glezmanz.eu/privada/editar-paciente/' + idPaciente;
		}
		
		function AsignarDoctor(event) {
		    const idTurno = event.currentTarget.getAttribute("data-id");
		    window.location.href = 'https://appcitassas.glezmanz.eu/privada/editar-turno/' + idTurno;
		}
			
		function CrearDoctor(event) {
		    window.location.href = 'https://appcitassas.glezmanz.eu/privada/crear-doctor';
		}
		
		function EditarDoctor(event) {
		    const idDoctor = event.currentTarget.getAttribute("data-id");
		    window.location.href = 'https://appcitassas.glezmanz.eu/privada/editar-doctor/' + idDoctor;
		}
		
		function EliminarDoctor(event) {
		    const idDoctor = event.currentTarget.getAttribute("data-id");
		    confirmar().then(function (confirmado) {
		        if (confirmado) {
		            window.location.href = 'https://appcitassas.glezmanz.eu/privada/eliminar-doctor/' + idDoctor;
		        }
		    });
		}
		
		
		
		function confirmarCancelarCita(event) {
		    const idCita = event.currentTarget.getAttribute("data-id");
		    window.location.href = 'https://appcitassas.glezmanz.eu/privada/cancelar-cita/' + idCita;
		}
		
		function confirmarCompletarCita(event) {
		    const idCita = event.currentTarget.getAttribute("data-id");
		    window.location.href = 'https://appcitassas.glezmanz.eu/privada/completar-cita/' + idCita;
		}
		
		
		
		function confirmar() {
            return Swal.fire({
                title: '¿Está seguro?',
                text: "¡No podrás revertir esto!",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Sí, eliminarlo!'
            }).then((result) => {
                return result.isConfirmed;
            });
        }
		
		function confirmarEliminar(event) {
			const dataUsuario = event.currentTarget.getAttribute("data-id");
		    const usuarioProps = dataUsuario.split('|');
		    const idUsuario = usuarioProps[0];
		    const emailUsuario = usuarioProps[1].trim();

			Swal.fire({
				title: "¡Esta acción es irreversible!",
				text: "Si está seguro de que desea eliminar este usuario",
				input: "text",
				inputLabel: `Introduce '${emailUsuario}' para confirmar la acción`,
				inputPlaceholder: "Introduce aquí",
				showCancelButton: true,
				confirmButtonText: "Eliminar",
				cancelButtonText: "Cancelar",
				preConfirm: (inputValue) => {
					if (inputValue.trim().toLowerCase() !== emailUsuario.toLowerCase()) {
						Swal.showValidationMessage('La palabra introducida no es correcta');
					}
					return inputValue;
				}
			}).then((result) => {
				if (result.isConfirmed) {
					const inputValue = result.value;
					if (inputValue.trim().toLowerCase() === emailUsuario.toLowerCase()) {
						window.location.href = 'https://appcitassas.glezmanz.eu/privada/eliminar/' + idUsuario;
					} else {
						Swal.fire({
							icon: "error",
							title: "Error",
							text: "La palabra introducida no es correcta"
						});
					}
				}
			});
		}
		
		function mostrarNotificacion(titulo, mensaje, tipo) {
			Swal.fire({
				title: titulo,
				text: mensaje,
				icon: tipo,
				confirmButtonText: 'OK',
				customClass: {
					confirmButton: 'btn btn-primary'
				}
			}).then((result) => {
				if (result.isConfirmed) {
					window.location.href = 'https://appcitassas.glezmanz.eu/privada/Administracion';
				}
			});
		}
		
		
		function filtrarTabla() {
		    // Obtener el valor de la barra de búsqueda
		    var input = document.getElementById("searchInput");
		    var filter = input.value.toLowerCase();
		    
		    // Obtener la tabla y las filas
		    var table = document.getElementById("tablaPacientes");
		    var tr = table.getElementsByTagName("tr");
		    
		    // Iterar sobre todas las filas de la tabla y ocultar las que no coinciden con el filtro
		    for (var i = 0; i < tr.length; i++) {
		        var td = tr[i].getElementsByTagName("td")[3]; // Columna de email
		        if (td) {
		            var txtValue = td.textContent || td.innerText;
		            if (txtValue.toLowerCase().indexOf(filter) > -1) {
		                tr[i].style.display = "";
		            } else {
		                tr[i].style.display = "none";
		            }
		        }
		    }
		}
	</script>
	 <script th:if="${not #strings.isEmpty(noTePuedesEliminar)}">
        mostrarNotificacion("¡No puede eliminarse a sí mismo!","Debe ser otro administrador el que realice esta acción", 'info');
	</script>
	<script th:if="${not #strings.isEmpty(noSePuedeEliminar)}">
	    mostrarNotificacion("¡Error!","No se puede eliminar último usuario con permisos de administrador", 'error');
	</script>
	<script th:if="${not #strings.isEmpty(elUsuarioTieneCitas)}">
	    mostrarNotificacion("¡No se puede eliminar al usuario!","Dicho usuario tinene Citas registradas.", 'info');
	</script>
	<script th:if="${not #strings.isEmpty(eliminacionCorrecta)}">
	    mostrarNotificacion("¡Usuario eliminado!","El usuario ha sido eliminado correctamente", 'success');
	</script>
	<script th:if="${not #strings.isEmpty(eliminacionCorrectaDoc)}">
	    mostrarNotificacion("¡Doctor eliminado!","El doctor ha sido eliminado correctamente", 'success');
	</script>
	<script th:if="${not #strings.isEmpty(elUsuarioEsPaciente)}">
	    mostrarNotificacion("¡No se puede eliminar al usuario!","No es posible eliminar al usuario porque es un paciente activo.", 'info');
	</script>
	<script th:if="${not #strings.isEmpty(elDoctorTieneCitas)}">
	    mostrarNotificacion("¡No se puede eliminar al doctor!","Dicho doctor tinene Citas registradas.", 'info');
	</script>
	<script th:if="${not #strings.isEmpty(errorEliminarDoctorTest)}">
	    mostrarNotificacion("¡No se puede eliminar al doctor!","Esta cuenta de doctor es una cuenta predeterminida.", 'info');
	</script>
	<script th:if="${not #strings.isEmpty(errorEditarDoctorTest)}">
	    mostrarNotificacion("¡No se puede editar al doctor!","Esta cuenta de doctor es una cuenta predeterminida.", 'info');
	</script>
</body>

</html>